extends common/layout

block layout-content 
    div.about-us-img-container
        div.container-fluid.mb-5.d-flex.overflow-hidden.justify-content-center.align-items-center.about-us-custom 
            //- img.landing-img-bg(src="img/about-coffee.jpg", alt="cup of coffee machine in background")
            //- image source: https://media.istockphoto.com/id/626324838/photo/coffee-cup-mock-up-template-for-logo-design-display.jpg?s=612x612&w=0&k=20&c=Kyqffhof9K2ocHZyW6UnU2jDslDdRqt5037pSs-ZQrg=
            h1.about-page-title.text-center.justify-content-center.Josefin-bold-700 About Us
        div.about-us-text-container.d-flex.col-md-12.justify-content-center.align-items-center 
            p.about-us-text.text-center.noto-serif-regular-400 It all started when Erko, a 25 year old ex-subway operator, got sick and tired of inconsistent and low quality coffee from Canada's favourite coffee shop. Everyday he would spend $2.10 for a cup of middle of the road coffee when he knew he could make a better cup at home. The convenience is what kept him going there until one day he started doing more research into the process of roasting beans and getting the perfect grind for an amazing cup of coffee. He made a trip back to his home country Ethipoia which is where coffee originated from. He went on an entire training arc becoming a master over night then later bringing his skills back to Toronto. Now with his business partner Jefe the cat, Erko is looking to bring quality coffee to the city of Toronto! 